# edit here
# def/undef for local target
n1awifi="CONFIG_N1A_WIFI=y"
n1awifi_undef="N1A_3G SENSORS_SX9500 SEC_MODEM SEC_MODEM_IF SEC_MODEM_XMM6262"
n1awifiany="CONFIG_N1A_WIFI=y CONFIG_TARGET_LOCALE_KOR=y CONFIG_N1A_WIFI_ANY=y CONFIG_LOG_BUF_SHIFT=18 \
	CONFIG_SEC_LOG_LAST_KMSG=y CONFIG_ANDROID_PERSISTENT_RAM=y"
n1awifiany_undef="N1A_3G SENSORS_SX9500 SEC_MODEM SEC_MODEM_IF SEC_MODEM_XMM6262 ANDROID_RAM_CONSOLE"
n1awifi_usa_open="CONFIG_N1A_WIFI=y CONFIG_TARGET_LOCALE_USA=y"
n1awifi_usa_open_undef="N1A_3G SENSORS_SX9500 SEC_MODEM SEC_MODEM_IF SEC_MODEM_XMM6262"