# edit here
# def/undef for local target
v2awifi_usa_open="CONFIG_TARGET_LOCALE_USA=y"
v2awifi_chn_open="CONFIG_V2A_WIFI=y CONFIG_WLAN_REGION_CODE=300 CONFIG_TARGET_LOCALE_CHN=y"
v2awifi_eur_demo="CONFIG_TARGET_LOCALE_DEMO=y"
